<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>새 글 작성하기</title>
</head>
<body>
    <div id="container">
        <h1 style="text-align: center;">New Lyrics</h1>
        <div class = "button">
            <a href="{% url 'home'%}">집으로</a>
        </div>
        <form action = "{% url 'create'%}" method="POST" style="clear:both;">
            <div class="text_block">
                제목 : <input type="text" size="50" name="title" /><br>
                본문 : <textarea name="contents" cols="50" rows="10"></textarea>
                <input type="submit" value="작성하기"/>
            </div>
            {% csrf_token %}
        </form>  
    </div>
  
</body>
</html>

